<tr>
	<td><%= blog.title.to_s.upcase %></td>
	<td><%= blog.body.length > 99 ? "#{blog.body[0..99]}..." : blog.body %></td>
	<td><%= link_to blog.status.to_s, toggle_status_blog_path(blog) %></td>
	<td><%= link_to 'Show', blog %></td>
	<td><%= link_to 'Edit', edit_blog_path(blog) %></td>
	<td><%= link_to 'Delete Post', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
