<main role="main" class="container">
	<div class="row">
		<div class="col-md-8 blog-main">
			<h2><%= @blog.title %></h2>
			<% if logged_in?(:site_admin) %>
				<%= link_to 'Edit', edit_blog_path(@blog) %>
			<% end %>

			<p><%= @blog.body %></p>

			<%# Start of comment form %>
				<% unless current_user.is_a?(GuestUser) %>
					<%= form_for(@comment, url: '#') do |f| %>
						<div class="form-group">
							<%= f.label :content %>
							<%= f.text_area :content, class: 'form-control' %>
						</div>

						<label class="btn-outline-primary-animated" data-content="Post Comment">
							<%= f.submit '', style: 'display: none' %>
						</label>
					<% end %>
				<% end %>
			<%# End of comment form %>

			<%# Start of comments %>
				<%= render partial: 'comment', collection: @blog.comments %>

			<%# End of comments %>
		</div>
	</div>
	<%= link_to 'Back', blogs_path %>
</main>
