<main role="main" class="container">
	<div class="row">
		<div class="col-md-8 blog-main">
			<h2><%= @blog.title %></h2>
			<% if logged_in?(:site_admin) %>
				<%= link_to 'Edit', edit_blog_path(@blog) %>
			<% end %>

			<p><%= @blog.body %></p>

			<%# Start of comment form %>
			<%= render 'comments/comment_form' %>
			<%# End of comment form %>

			<%= render partial: 'comment', collection: @blog.comments %>
		</div>
	</div>
	<%= link_to 'Back', blogs_path %>
</main>
