<div class="col-sm-4" data-id="<%= x.id %>">
	<div class="card mb-4 shadow-sm">
		<%= link_to portfolio_show_path(x), class: 'img-crop' do %>
			<div class="portfolio-img-tag">
				<center><span class="portfolio-img-tag-label">Read more</span></center>
				<%= image_tag x.thumb_image.url, class: 'portfolio-img' %>
			</div>
		<% end %>

		<div class="card-body">
			<p class="card-text">
				<%= link_to x.title, portfolio_show_path(x) %>
			</p>

			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
					<%= link_to '', portfolio_show_path(x), class: "btn-outline-success-animated", 'data-content': "View" %>
					<% if current_user == :site_admin %>
						<%= link_to '', portfolio_edit_path(x), class: "btn-outline-primary-animated", 'data-content': "Edit" %>
					<% end %>
				</div>

				<small class="text-muted"><%= distance_of_time_in_words(x.updated_at, Time.now) %></small>
			</div>
		</div>
	</div>
</div>
