<center><h1>Topic Rails</h1></center>

<% for i in @portfolio_items %>
	<center><a href=""><%= i.title %></a></center>
	<center><a href=""><%= i.subtitle %></a></center>
	<br>
	<p><img src="<%= i.thumb_image %>"></p>
	<p><%= i.body.length > 99 ? "#{ i.body[0..99] }..." : i.body %></p>
	<hr>

	<%= link_to 'Edit', edit_portfolio_path(i) if logged_in?(:site_admin) %>
	<%= link_to 'Delete portfolio item', postfolio_path(i), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
<% end %>
