<center>
	<h1>Portfolio Items</h1>
	<p><%= portfolios_url %></p>
	<p><%= link_to 'Create', new_portfolio_path %></p>
</center>

<%# <a href="/portfolios/new">Create a New Item</a> %>

<% @portfolio_items .each_with_index do |x, i| %>
	<h2><%= link_to "#{i + 1}. #{x.title}", portfolio_show_path(x) %></h2>
	<p><%= x.subtitle %></p>
	<p><%= x.body.to_s.then { |b| b.length > 99 ? "#{b[0..99].strip}..." : b } %></p>
	<img src="<%= x.thumb_image %>">
	<br>
	<%#= method(:image_tag) === x.main_image.to_s %>
	<%#= link_to 'Edit', edit_portfolio_path(x.id) %>
<% end %>
