<%= form_with(model: education2, local: true) do |form| %>
  <% if education2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education2.errors.count, "error") %> prohibited this education2 from being saved:</h2>

      <ul>
        <% education2.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
