<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @education2.body %>
</p>

<p>
  <strong>Title:</strong>
  <%= @education2.title %>
</p>

<%= link_to 'Edit', edit_education2_path(@education2) %> |
<%= link_to 'Back', education2s_path %>
