<div class="login">
	<div class="card w-40">
		<div class="card-block">
			<h2>Forgot your password?</h2>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<%= render "devise/shared/error_messages", resource: resource %>

				<div class="form-group">
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
				</div>

				<center>
					<div class="actions">
						<%= f.submit "Send me reset password guide", class: 'btn btn-outline-warning' %>
					</div>
				</center>
			<% end %>

			<div class="mt-4 float-right">
				<%- if controller_name != 'sessions' %>
					<%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-outline-success' %><br />
				<% end %>

				<br>

				<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
					<%= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-outline-primary' %><br />
				<% end %>
			</div>
		</div>
	</div>
</div>
