<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @education.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @education.body %>
</p>

<p>
  <strong>Body2:</strong>
  <%= @education.body2 %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
