<!DOCTYPE html>
<html>
	<head>
		<title><%= @page_title %></title>
		<meta charset="utf-8">
		<meta name="keywords" content="<%= @seo_keywords %>">

		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>


		<%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= render('shared/blog_nav') %>

		<%# Start of Blog header %>
		<div class="blog-header">
			<div class="container-fluid">
				<h1 class="blog-title">The Bootstrap Blog</h1>
				<p class="lead blog-description">An example blog template built with bootstrap</p>
			</div>
		</div>
		<%# End of Blog header %>

		<%# Start of container and row elements %>
		<div class="container">
			<div class="row">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>

				<%= yield %>

				<%= render('shared/nav', location: 'bottom') %>
				<%= source_helper('blog') %>
			</div>
		</div>
		<%# End of container and row elements %>

		<%# Start of footer %>
		<footer class="blog-footer">
			<p>Hello footer!</a>.</p>
			<p>
				<a href="#">Back to top</a>
			</p>
		</footer>
		<%# End of footer %>
	</div>


	</body>
</html>
