<!DOCTYPE html>
<html>
	<head>
		<title><%= @page_title %></title>
		<meta charset="utf-8">
		<meta name="keywords" content="<%= @seo_keywords %>">

		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'buttons', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'notify-send', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'notify-send', %s(data-turbolinks-track) => 'reload' %>
	</head>

	<body>
		<%= alerts %>

		<%= render('shared/blog_nav') %>
		<%= render('shared/blog_masthead') %>

		<div role="main" class="container">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>

			<div class="row">
				<div class="col-md-8 blog-main">
					<%= yield %>
				</div>

				<%= render('shared/blog_sidebar') %>
			</div>
		</div>

		<%= render('shared/blog_footer') %>
		<%= source_helper('blog') %>
	</body>
</html>
