<!DOCTYPE html>
<html>
	<head>
		<title><%= @page_title %></title>
		<meta charset="utf-8">
		<meta name="keywords" content="<%= @seo_keywords %>">

		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= render('shared/blog_nav') %>

		<%# Start of Blog header %>
		<div class="blog-header">
			<div class="container-fluid">
				<h1 class="blog-title">My Blog</h1>
				<p class="lead blog-description">An example blog template built with bootstrap</p>
				<%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin)%>
			</div>
		</div>
		<%# End of Blog header %>

		<div role="main" class="container">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>

			<div class="row">
				<div class="col-md-8 blog-main">
					<%= yield %>
				</div>

				<%= render('shared/blog_sidebar') %>

			</div>
		</div>
		<%= render('shared/nav', location: 'bottom') %>
		<%= source_helper('blog') %>
	</body>
</html>
